<!DOCTYPE html>

<html lang="en">

<head>
		<title>Blup: Challenge</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--GOOGLE FONTS--->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!--CSS-->
        <link href="../static/styles/styleChallenge.css" rel="stylesheet" type="text/css">
        <link href="../static/styles/styleMenu_FAzul.css" rel="stylesheet" type="text/css">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    </head>

<body>

    <nav class="navbar">
        <a href="main.html"><img id="logo" src="../static/images/logoamarelo.png"></a>
        <div class="menu" onclick="hamburguer(this)">
            <div class="menu-line1"></div>
            <div class="menu-line2"></div>
            <div class="menu-line3"></div>
        </div>
        <div class="menu_content">
            <ul>
                <li><a class="h_menu" href="profile">my profile</a></li>
                <li><a class="h_menu" href="platform">leaderboards</a></li>
                <li><a class="h_menu" href="work">work</a></li>
                <li><a class="h_menu" href="favors">favors</a></li>
                <li><a class="h_menu" href="forum">forum</a></li>
                <li><a class="h_menu" href="challenge">challenge</a></li>
                <li><a class="h_menu" href="train">choo choo train</a></li>

                <li><a class="h_menu" style="color:white;" href="index">log out</a></li>
            </ul>
        </div>
    </nav>



    <img id="manman" src="../static/images/challengeDudeB.png" alt="challengeMan">

    <div class="container-fluid">

<h1>This week's challenge is...</h1>

  {% for key,challenge in challenges.items() %}

        <div class="row text-left">


      <div class="boxtext">
        <label for="usr"><strong> Challenge name: </strong> {{ challenge["name"] }} </label> 
      </div>
      <div class="boxtext">
        <label for="comment"><strong>Event description: </strong>{{ challenge["description"] }} </label>
         </div>
      <div class="boxtext">
        <label> <strong> Challenge location: </strong> {{ challenge["location"] }} </label>
      </div>
      <div class="boxtext">
        <label> <strong> Challenge prize: </strong> {{ challenge["prize"] }} </label>
      </div>

    </div>

  {% endfor %}


        <h1> Create a challenge: </h1>
        <form>
            <div class="boxtext" class="addform">
                <label for="usr">Challenge name:</label>
                <input class="form-control" type="text" class="form-control" id="usr">
            </div>
            <div class="boxtext" class="addform">
                <label for="comment">Event description:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="boxtext" class="addform">
                <label for="pwd">Challenge location:</label>
                <input class="form-control" type="password" class="form-control" id="pwd">
            </div>
            <div class="boxtext" class="addform">
                <label for="pwd">Challenge prize:</label>
                <input class="form-control"  type="password" id="pwd">
            </div>
            <div class="boxtext" class="addform">
                <button id="addNew" type="button" onclick="alert('criaste  challenge')">Create challenge</button>
            </div>
        </form>

    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function hamburguer(x) {
        x.classList.toggle("hamb");
    }
    $('.menu').click( function () {
        $('.menu_content').toggleClass('aberto');
    });
</script>
<!--SCRIPTS FOR BOOTSTRAP--->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
</body>
</html>
