<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blup Challenges Available</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--GOOGLE FONTS--->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!--CSS-->
        <link href="../static/styles/styleMain.css" rel="stylesheet" type="text/css">

        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    </head>

	<body>
		
		  <!--nav-->
		<nav class="navbar">
    <a href="login.html"><img id="logo" src="../static/images/cavaloNome.png"></a>
        <div class="menu" onclick="hamburguer(this)">
            <div class="menu-line1"></div>
            <div class="menu-line2"></div>
            <div class="menu-line3"></div>
        </div>
    <div class="menu_content">
        <ul>
            <li><a class="h_menu" href="#">my profile</a></li>
            <li><a class="h_menu" href="">all rankings</a></li>
            <li><a class="h_menu" href="#">forum</a></li>
            <li><a class="h_menu" href="#">action trains</a></li>
            <li><a class="h_menu" href="#">challenges</a></li>
            <li><a class="h_menu" href="#">log out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

  <h1>Active challenges</h1>

    <img alt="Challenge Dude" src="../static/images/challengeDude.png">

    <div class="row">

<div class="quads col col-sm-12 col-md-6 col-lg-3 col-xl-3">
  {% for item in users_list %}
      <ul>
        <li> Name: {{ challenge["name"] }} </li>
        <li> Description: {{ challenge["description"] }} </li>
        <li> Location: {{ challenge["location"] }} </li>
        <li> Prize: {{ challenge["prize"] }} </li>
      </ul>
  {% endfor %}
</div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function hamburguer(x) {
        x.classList.toggle("hamb");
    }
    $('.menu').click( function () {
        $('.menu_content').toggleClass('aberto');
    });
</script>
<!--SCRIPTS FOR BOOTSTRAP--->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>

</html>
