<!doctype html>

<html lang="en">

<head>

  <title>Blup Login Done</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="styleLogin.css">

  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>

<div class=page>

  <h1>BI-Tech Challenge</h1>
  <h2> Login done! :D </h2>

</div>

</body>

</html>
