<!doctype html>

<html lang="en">

<head>

  <title>Blup Login Done</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="styleLogin.css">

  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>

<div class=page>

  <h1>BI-Tech Leadboards</h1>

  <h2> Users </h2>
  <div id="users">
  {% for item in range(0,users_list|length) %}
      <ul>
        <li> Name: {{ users_list[item][1]["username"] }} </li>
        <li> Points: {{ users_list[item][1]["points"] }} </li>
      </ul>
  {% endfor %}
  </div>

  <h2> Teams</h2>
  <div id="users">
  {% for item in range(0,teams_list|length) %}
      <ul>
        <li> Name: {{ teams_list[item][1]["name"] }} </li>
        <li> Points: {{ teams_list[item][1]["points"] }} </li>
      </ul>
  {% endfor %}
  </div>

  <h2> Sections </h2>
  <div id="users">
  {% for item in range(0,sections_list|length) %}
      <ul>
        <li> Name: {{ sections_list[item][1]["name"] }} </li>
        <li> Points: {{ sections_list[item][1]["points"] }} </li>
      </ul>
  {% endfor %}
  </div>

  <h2> Countries</h2>
  <div id="users">
  {% for item in range(0,countries_list|length) %}
      <ul>
        <li> Name: {{ countries_list[item][1]["name"] }} </li>
        <li> Points: {{ countries_list[item][1]["points"] }} </li>
      </ul>
  {% endfor %}
  </div>
</div>

</body>

</html>
