* {
    padding: 0;
    margin: 0;
}

html {
    height: 100% !important;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #195D98 !important; /*AZUL*/
}


.container-fluid {
    height: 100%;
    margin:0 !important;
    padding:3% !important;
}

.row{
    width: 100%;
}

.container-fluid ul li{
    list-style-type: none;
}


.col {
    margin-left: 2%;
    display: inline-block;
}

.users{
    padding-top:3%;
}

h1 {
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: #FFC952 !important;
    padding-bottom: 1%;
    padding-top:4%;
    border-bottom: solid 2px white;
}


@media (max-width: 576px) {
    .menu_content.aberto {
        width: 100%;
    }
    #logo{
        padding:0;
        width:100px;
    }

}